<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title><%= name_app %></title>
    <%- include ../base/css_external %>
    <link href="../../public/css/styles.css" rel="stylesheet">
</head>

<body>
    <%- include ../base/nav %>
    <section class="container-fluid">
        <section class="row padd">
            <article class="col-sm-4">
                <div id = "appProd">
                    
                    <div class = "form-group">
                        Código Producto:
                        <input type = "text" class = "form-control" v-model = "codigo_producto" autofocus>
                    </div>
                    <button class = "btn btn-outline-primary" v-on:click = "BuscaProducto">Buscar</button>
                    <hr>
                    {{ productoResponse }}
                    
                </div>
            </article>
            <article class="col-sm-6">
                
                <div id = "contentProd">
                    <input type ="hidden" id = "idEntrada" value = '<%= entrada%>'>
                </div>
            </article>
        </section>
    </section>
    <%- include ../base/js_external %>
    <script src="../../public/js/eventoEntrada.js"></script>
    <script src="../../public/js/methods.js"></script>
</body>

</html>