<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title><%= name_app %></title>
    <%- include base/css_external %>
    <link href="./public/css/styles.css" rel="stylesheet">
</head>

<body>
    <%- include base/nav %>
    <section class="container-fluid">
        <section class="row padd">
            <article class="col-sm-6">
                <h1>Sitema Inventario</h1>
            </article>
        </section>
    </section>
    <%- include base/js_external %>
</body>

</html>