<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title><%= name_app %></title>
    <%- include ../base/css_external %>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>
    <%- include ../base/nav %>
    <section class="container-fluid">
        <section class="row padd">
            <article class="col-sm-6">
                <div id="my_app">
                    <h3>Registro Proveedor</h3>
                    <form class='form' id="form_prov">
                        <div class="form-group">
                            Proveedor:
                            <input autofocus class="form-control" name="prov_nombre" placeholder="Proveedor" type="text" v-model='prov_nombre'>
                        </div>
                        <div class="form-group">
                            Contacto:
                            <input autofocus class="form-control" name="prov_contacto" placeholder="Contacto" type="text" v-model='prov_contacto'>
                        </div>
                        <div class="form-group">
                            Alias:
                            <input autofocus class="form-control" name="prov_alias" placeholder="Alias" type="text" v-model='prov_alias'>
                        </div>
                        <span id="message_resp"></span>
                        <button class="btn btn-outline-info btn-block" id="guarda" type="button" v-on:click='GuardaProveedor'>Guardar</button>
                    </form>
                </div>
            </article>
        </section>
    </section>
    <%- include ../base/js_external %>
    <script src="../public/js/proveedor.js"></script>
    <script src="../public/js/methods.js"></script>
</body>

</html>