<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#"> <%= name_app %> </a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
        class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/producto/nuevo">Producto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/proveedor/nuevo">Proveedor</a>
            </li>

        </ul>
        <aside class="my-2 my-lg-0">
            <ul class="navbar-nav  mr-sm-2">
                <li class="nav-item">
                    <a class="nav-link" href="/entradas">Entradas</a>
                    
                </li>
                <li class = "nav-item">
                    <a class="nav-link" href="/salidas">Salidas</a>
                </li>

            </ul>

        </aside>
    </div>
</nav>