<section id="modal_content">
    <article class="modal" id="modal_categoria">
        <section class="modal-dialog">
            <section class="modal-content">
                <header class="modal-header bg-light">
                    <h4 class="modal-title">
                        <%= title %>
                    </h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </header>
                <section class="modal-body">
                    <div id='appCategoria'>
                        <form id='registra_cat'>
                            <div class='form-group'>
                                <input class='form-control' name="categoria" placeholder='Categoría' type='text'
                                    v-model='categoria'>
                            </div>
                            <button class='btn btn-success' id='save_categoria' type='button'
                                v-on:click='SaveCategoria'>Guardar</button>
                        </form>
                    </div>
                </section>
                <span id="modal_message"></span>
                <footer class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                </footer>
            </section>
        </section>
    </article>
</section>