<section id="modal_content">
    <article class="modal" id="modal_marca">
        <section class="modal-dialog">
            <section class="modal-content">
                <header class="modal-header bg-light">
                    <h4 class="modal-title">
                        <%= title %>
                    </h4>
                    <button class="close" data-dismiss="modal" type="button">&times;</button>
                </header>
                <section class="modal-body">
                    <div id='appMarca'>
                        <form id='registra_marca'>
                            <div class='form-group'>
                                <input class='form-control' name="marca" placeholder='Marca' v-model="marca"
                                    type='text'>
                            </div>
                            <button class='btn btn-success' id='save_marca' v-on:click="SaveMarca"
                                type='button'>Guardar</button>
                        </form>
                    </div>
                </section>
                <span id="modal_message"></span>
                <footer class="modal-footer">

                    <button class="btn btn-danger" data-dismiss="modal" type="button">Close</button>
                </footer>
            </section>
        </section>
    </article>
</section>