<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title><%= name_app %></title>
    <%- include ../base/css_external %>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>
    <%- include ../base/nav %>
    <section class="container-fluid">
        <section class="row padd">

            <article class="col-sm-8">
                <table class="table">
                    <thead>
                        <th> Producto </th>
                        <th> Código </th>
                        <th> Categoría </th>
                        <th> Marca </th>
                        
                        <th></th>
                        <thead>
                        <tbody>
                            <% producto.forEach(element => {  %>
                            <tr>
                                <td> <%- element.producto %> </td>
                                <td> <%- element.codigo %> </td>
                                <td> <%- element.tbl_categoria.categoria %></td>
                                <td> <%- element.tbl_marca.marca %></td>
                                
                                <td> <a href = "/producto/edita/<%= element.id_prod%>" class = "btn btn-outline-success btn-block btn-sm"> Editar </a> </td>
                            <tr>
                                <% }); %>
                        </tbody>
                </table>

                <%if (page) { %>

                <ul class="pagination justify-content-center">
                    <%for (let index = 0; index < page; index++) { %>
                    <li class="page-item"></li><a class="page-link" href='/listar/<%=index+1%>'> <%=index+1%></a></li>
                    <% } %>
                </ul>
                <% } %>
            </article>

        </section>
    </section>
    <%- include('../base/js_external') %>
</body>

</html>