<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="ie=edge" http-equiv="X-UA-Compatible">
    <title><%= name_app %></title>
    <%- include ../base/css_external %>
    <link href="../public/css/styles.css" rel="stylesheet">
</head>

<body>
    <%- include ../base/nav %>
    <section class="container-fluid">
        <section class="row padd">
            <article class="col-sm-2 text-left">
                <hr>
                <div>
                    <a class="btn btn-outline-secondary btn-sm" data-target="#modal_categoria" data-toggle="modal"
                        href="#" id="add_categoria">Nueva Categoría</a>
                    <a class="btn btn-outline-secondary btn-sm" data-target="#modal_marca" data-toggle="modal" href="#"
                        id="add_marca">Nueva Marca</a>
                </div>
                <hr>
            </article>
            <article class="col-sm-6">
                <div id="my_app">
                    <h3>Registro Producto</h3>
                    <form class='form' id="form_prod">
                        <div class="form-group">
                            Producto:
                            <input autofocus class="form-control" name="producto_nombre" placeholder="Producto"
                                type="text" v-model="producto_nombre">
                        </div>
                        <div class="form-group">
                            Código:
                            <input autofocus class="form-control" name="producto_codigo" placeholder="Código"
                                type="text" v-model="producto_codigo">
                        </div>
                        
                        <div class="form-group">
                            Marca:
                            <select class="form-control" id="marca" name="marca" placeholder="Marca">
                                <option value="0">
                                    Selecciona
                                </option>
                                <% if (marca) %>
                                <% marca.forEach(element => { %>
                                <option value="<%= element.id_marca %>">
                                    <%= element.marca %>
                                </option>

                                <% }); %>
                            </select>
                        </div>
                        <div class="form-group">
                            Categoría:
                            <select class="form-control" id="categoria" name="categoria" placeholder="Categoría">
                                <option value="0">
                                    Selecciona
                                </option>
                                <% if (categoria) %>
                                <% categoria.forEach(element => { %>
                                <option value="<%= element.id_categoria %>">
                                    <%= element.categoria %>
                                </option>

                                <% }); %>
                            </select>
                        </div>
                        <button class="btn btn-outline-info btn-block" id="guarda_prod" type="button"
                            v-on:click="SaveProducto">Guardar</button>
                    </form>
                </div>
            </article>
            <article class="col-sm-3">
                <hr>
                <h6>Buscar Producto</h6>
                <div id="search_prod">
                    <div class="form-group">
                        <input type="text" v-model='codigoSearch' class="form-control">
                    </div>
                    <button type = 'button' class = 'btn btn-outline-info' v-on:click = 'searchCode' >Consultar</button>
                    <button type = 'button' class = 'btn btn-outline-info' v-on:click = 'getAll' >Ver todos</button>
                </div>
                <hr>
            </article>
        </section>
    </section>
    <%- include('categoriaModal', {title: "Registra Categoría"}) %>
    <%- include('marcaModal', {title: "Registra Marca"}) %>
    <%- include('../base/js_external') %>
    <script src="../public/js/producto.js"></script>
    <script src="../public/js/marca.js"></script>
    <script src="../public/js/categoria.js"></script>
    <script src="../public/js/methods.js"></script>
</body>

</html>